{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Politique de confidentialité</h1>
    <p>Nous respectons votre droit à la confidentialité et nous nous engageons à protéger les données personnelles que vous fournissez sur notre site. Cette politique de confidentialité décrit les types de données que nous collectons, comment nous les utilisons, et vos droits concernant ces données, conformément aux exigences du RGPD.</p>

    <h2>1. Données collectées</h2>
    <p>Nous pouvons collecter les types de données suivants :</p>
    <ul>
        <li><strong>Informations personnelles :</strong> Nom, adresse e-mail, pays, ville, et autres informations que vous fournissez en remplissant des formulaires sur notre site.</li>
        <li><strong>Données de navigation :</strong> Informations sur votre interaction avec notre site, y compris l'adresse IP, le type d'appareil, le navigateur, la langue, les pages visitées et la date/heure de votre visite.</li>
        <li><strong>Cookies :</strong> Nous utilisons des cookies pour améliorer la performance du site et personnaliser l'expérience utilisateur.</li>
    </ul>

    <h2>2. Utilisation des données</h2>
    <p>Nous utilisons les données collectées pour les objectifs suivants :</p>
    <ul>
        <li>Fournir et améliorer nos services.</li>
        <li>Analyser et améliorer la performance du site.</li>
    </ul>

    <h2>3. Partage des données avec des tiers</h2>
    <p>Nous ne partageons pas vos données personnelles avec des tiers, sauf dans les cas suivants :</p>
    <ul>
        <li>Pour se conformer à nos obligations légales.</li>
    </ul>

    <h2>4. Cookies</h2>
    <p>Nous utilisons des cookies pour les objectifs suivants :</p>
    <ul>
        <li>Assurer le bon fonctionnement du site.</li>
    </ul>
    <p>Vous pouvez gérer les paramètres des cookies dans votre navigateur ou désactiver leur utilisation. Veuillez noter que cela pourrait affecter certaines fonctionnalités du site.</p>

    <h2>5. Vos droits</h2>
    <p>Conformément à la législation en vigueur, vous disposez des droits suivants concernant vos données :</p>
    <ul>
        <li><strong>Droit d'accès :</strong> Vous avez le droit de demander des informations sur les données que nous collectons et comment nous les utilisons.</li>
        <li><strong>Droit de rectification :</strong> Vous pouvez demander la correction de toute information incorrecte.</li>
        <li><strong>Droit à l'effacement :</strong> Vous pouvez demander la suppression de vos données si celles-ci ne sont plus nécessaires aux fins pour lesquelles elles ont été collectées.</li>
        <li><strong>Droit de retirer votre consentement :</strong> Vous avez le droit de retirer votre consentement à tout moment.</li>
    </ul>

    <h2>6. Contact</h2>
    <p>Si vous avez des questions ou si vous souhaitez exercer vos droits, veuillez nous contacter par e-mail : <a href="mailto:admincomposantPC@gmail.com"><strong>admincomposantPC@gmail.com</strong></a> ou direcetement sur <strong><a class="" href="{{path ('contact')}}">le site .</a></strong></p>
    l'information de  l’hébergeur: 
    <li>Nom: Smolev</li>
    <li>Prénom: Lev</li>
    <li>Tel: 076777777</li>
    <li>Adresse: 2 impasse de champs</li>

    <h2>7. Modifications de la politique de confidentialité</h2>
    <p>Nous pouvons mettre à jour cette politique de confidentialité. Toutes les modifications seront publiées sur cette page. Veuillez vérifier régulièrement cette page pour rester informé des mises à jour éventuelles.</p>

    <p><em>Date de la dernière mise à jour : 4 octobre 2024</em></p>
</div>
{% endblock %}
