
.imgPost2{
    display: flex;
    width: 90%;
    height: fit-content;
}
a.title{
    color: red;
    font-weight: bold;
    text-decoration: none;
}
a.title:hover{
    color: black;
    text-decoration:none;
}
.img-rubrik{
    width: 70%;
    align-self: center;
}
.roundedImage{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.overlay-cards > .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}
.card-link {
    text-decoration: none;
    margin: 10px;
    text-align: center;
}
.overlay-cards {
    position: absolute;
    display: flex;
    top: 10%;
    justify-content: center;
    z-index: 1; /* Карточки выше видео */

}
.card {
    background-color: rgba(255, 255, 255, 0.781); /* Полупрозрачный фон */
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.445);
    max-width: 250px;
    transition: transform 0.3s ease;
    z-index: 2; /* Убедимся, что карточки выше всех элементов */
    position: relative;
}
.card:hover {
    transform: scale(1.05); /* Легкое увеличение при наведении */
}
.card h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.card p {
    margin: 0; 
}
.card-rubrik{
    justify-content: center;
    display: flex;
}
.video-background-container {
    position: fixed;
    top: 35px; /* Расстояние от верхней границы (учитываем высоту навигационной панели) */
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Задает, что видео будет позади контента */
    transition: opacity 0.5s ease;
}
.video-background-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh; /* Видео будет занимать всю высоту экрана */
    overflow: hidden;
    z-index: -1;
}

/* Видео */
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабирование видео для заполнения всего контейнера */
    pointer-events: none; /* Видео не блокирует клики */
}

/* Контент */
.content-overlay {
    position: relative;
    z-index: 1;
    background: rgb(37, 37, 37);
    color: white;
    padding-bottom: 200px;
}
/* Эффект для исчезновения */
.video-background-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
}
@media (max-width: 992px) {
    /* Скрыть карточки и видео */
    .overlay-cards,
    .video-background-container {
        display: none;
    }
}