#comments-container {
    margin-top: 20px;
}

/* Общий стиль для каждого комментария */
.comment {
    background-color: #2c2c2c; /* Темный фон для контраста */
    border-radius: 10px; /* Закругленные углы */
    padding: 15px;
    border: 1px solid #444; /* Тонкая рамка */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для глубины */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Добавляем эффект при наведении */
.comment:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Усиленная тень */
}

/* Стиль для аватара */
.comment img {
    
    object-fit: cover;
    border: 2px solid #fff; /* Белая рамка для выделения аватара */
}

/* Стиль для имени пользователя */
.comment .userName {
    font-weight: bold;
    color: #f8f9fa; /* Белый текст */
    font-size: 1.2em;
}

/* Дата комментария */
.comment .text-muted {
    font-size: 0.9em;
    color: #888;
}

/* Контент комментария */
.comment-content p {
    font-size: 1.1em;
    color: #ddd; /* Серый текст */
    margin: 10px 0;
    padding-left: 60px; /* Отступ для контента комментария */
}

/* Адаптивные отступы для мобильных */
@media (max-width: 768px) {
    .comment-content p {
        padding-left: 15px;
    }
}