.related-post-card {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 
}
.related-post-card > a{
    text-decoration: none;
    color: white;
}
.youtube_player{
    height: 500px;
} 
@media (max-width: 992px) {
    /* Скрыть карточки и видео */
    .youtube_player {
        display: none;
    }
}